<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <ul id="navigation">
        {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
        {% endfor %}







        <h1> Welcome to the prime number generator.</h1>
        <label for="quantity">Enter a number below 10000:</label>


        <form method="POST">

            <input name="variable">
            <input type="submit" id="quantity" min="0" max="10000">
        </form>
</body>
</html>