<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1> Welcome to the prime number generator.</h1>
    <label for="quantity">Enter a number below 10000:</label>

    {% for message in get_flashed_messages()%}
       <p> {{messager}}</p>
    {% endfor %}

    <input type="number" id="quantity" min="0" max="10000">
    <input type="Submit" id="quantity" min="0" max="10000">
</body>
</html>